/* Basic stuff */
:root {
    --background-color: #101030;
    --text-color: #dddddd;
    --text-link-color: #ffffff;
    --text-highlight-color: #dddddd;
}
body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    padding: 5px;
    margin: 20px;
    line-height: 1.5;
}

/* Navbar stuff */
#nav-bar > ul > li > a {
    color: var(--text-link-color);
    text-decoration: none;
}

/* Content stuff */
.game-idea {
    border: 3px double gray;
    border-radius: 10px;
    margin: 20px;
    padding-bottom: 30px;
    box-shadow: 5px 5px 5px darkblue;
}
/* Image stuff */
.img-span {
    display: block;
    margin: 30px auto;
    text-align: center; /* This is default and can be overridden */
}
img {
    border: 3px solid white;
    max-width: 450px;
}
figcaption {
    font-size: 12px;
}

/* Headers */
h1, h2, h3, h5 {
    text-align: center;
}
h1, h2, h3 {
    color: var(--text-highlight-color);
}
h2.game-title::before, h2.game-title::after {
    content: "\"";
}
h3.co-idea::before {
    content: "Co-idea with: ";
}
h5.title-aside {
    font-size: 0.8rem;
}
h5.title-aside::before {
    content: "(";
}
h5.title-aside::after {
    content: ")";
}
section > p::before {
    color: var(--text-highlight-color);
    font-size: 1.5rem;
}
p {
    margin: 10px 50px;
}
p.think::before {
    content: "Think: ";
}
p.overview::before {
    content: "Overview: ";
}
p.basic-gameplay::before {
    content: "Basic Gameplay: ";
}
p.stat-stuff::before {
    content: "Stats: ";
}
ul, ol {
    position: relative;
    padding: 0 100px;
}
p.gameplay-progression {
    content: "Expected Gameplay Progression: ";
}